@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  text-align: center;
  font-size: 20px;
}

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-title, .signup-page-title, .signin-page-title, .dashboard-page-title {
  margin: 40px 0;
}

.header {
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: lightblue;
  padding: 20px;
}

.signup-button {
  margin-right: 20px;
}

.signup-button, .signin-button, .home-button {
  padding: 10px;
  background: lightblue;
  border-radius: 10px;
  transition: all 0.3s;
  transition-duration: 0.4s;

  &:hover {
    background: wheat;
  }
}